.App{
  text-align:center;
}

h1{
  font-family: Arial, Helvetica;
  margin-bottom: 5px;
}

.logo{
  height: 120px;
  width: 120px;
}

.table{
  text-align: center;
  width: 10%;
}

/* td{
  width: 10%;
} */
